// Theme colours
$grey: #f5f5f5;
$orange: #ff8d00;
$white: #fff;
$blue: #0077b3;
$lightgrey: #e3e3e3;
$darkgrey: #999999;
$darkergrey: #474747;

// colors based on/for html elements
$formText: #2b2b2b;
$inputBorder: #999999;
$facebook: #3b5998;

$warningBg: #a94442;
$warning: #f2dede;

// Margins, Paddings, Radius, Z-Index...
$marginL: 40px;
$marginML: 30px;
$marginM: 20px;
$marginSM: 15px;
$marginS: 10px;
$marginMin: 5px;

$paddingML: 30px;
$paddingM: 20px;
$paddingSM: 15px;
$paddingS: 10px;
$paddingMin: 5px;

$borderRadiusSmall: 4px;

// font sizes
$fontSize-XXS: 8px;
$fontSize-XS: 10px;
$fontSize-S: 12px;
$fontSize-M: 14px;
$fontSize-L: 18px;
$fontSize-XL: 32px;

// heights
$min-handy-height: 450px;
